<div class="block">
  <h3>Dica!</h3>
  <div class="content">
    <p align="justify">
      Cadastro de Tarefas: A tarefa representa um trabalho executado por um técnico.<br />
      Utilize a Pesquisa para encontrar uma tarefa mais facilmente!
    </p>
  </div>
</div>

<%= render 'pages/sidebar' %>
