<div class="block">
  <h3>Dica!</h3>
  <div class="content">
    <p align="justify">Cadastro de Etapas: As etapas representam todos os passos que devem ser executados para concluir a execução de um serviço.</p>
  </div>
</div>

<%= render 'pages/sidebar' %>
