<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "Lista", servico_servico_etapas_path %></li>
      <li class="active"><%= link_to "Novo", new_servico_servico_etapa_path %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title">Etapa do Serviço</h2>
    <div class="inner">
      <%= form_for :servico_etapa, url: servico_servico_etapas_path, html: {class: :form} do |f| %>
        <%= render partial: "form", locals: {f: f} %>
      <% end %>
    </div>
  </div>
</div>

<% content_for :sidebar, render(partial: 'sidebar') %>
