<div class="block">
  <h3>Dica!</h3>
  <div class="content">
    <p align="justify">
      Cadastro de Serviços: O serviço é utilizado na especificação de uma tarefa.<br />
      Utilize a Pesquisa para encontrar um serviço mais facilmente!
    </p>
  </div>
</div>

<%= render 'pages/sidebar' %>
