<div class="block">
  <h3>Dica!</h3>
  <div class="content">
    <p align="justify">
      Projetos: Um projeto agrupa várias Tarefas de um cliente.<br />
      Com o projeto o gerente poderá visualizar os técnicos que participaram,
      horas trabalhadas, custos, previsão de término e percentual concluído.
      <br />
      Utilize a Pesquisa para encontrar um projeto mais facilmente!
    </p>
  </div>
</div>

<%= render 'pages/sidebar' %>