<div class="block">
  <h3>Dica!</h3>
  <div class="content">
    <p align="justify">
      Cadastro de Clientes: Antes de cadastrar um novo cliente, verifique se o mesmo já está cadastrado.<br />
      Utilize a Pesquisa para encontrar um cliente mais facilmente!
    </p>
  </div>
</div>

<%= render 'pages/sidebar' %>