<div class="block">
  <div class="content">
    <div class="inner">

      <h2 class="title">ASSEINFO - Sistemas de Informação</h2>

      <div id="direita">
        <%= image_tag("fachada.jpg", alt: "fachada") %>
      </div>
      
      <p align="justify"> A ASSEINFO é uma empresa de tecnologia da informação especializada no desenvolvimento de softwares comerciais e industriais, e toda a infra-estrutura de informação necessária. A empresa mantém em seu portfolio de produtos e serviços o desenvolvimento de softwares baseados na arquitetura cliente/servidor, web sites institucionais, middleware ou diretamente interligados ao banco de dados do cliente e outras ferramentas passivas de informação.</p>
      <p align="justify">Desde 2001, a empresa é detentora de diversos casos de sucesso nas implantações realizadas ao longo de sua existência e tem como característica marcante a satisfação de seus clientes.</p>

      <h3>Nossa Missão</h3>
      <p align="justify">- Satisfazer plenamente a demanda por informação do cliente através de um atendimento diferenciado, personalizado, de alto nível e com o uso de ferramentas computacionais;</p>
      <p align="justify">- Obter lucratividade visando o desenvolvimento da empresa e o retorno do investimento;</p>
      <p align="justify">- Contribuir para a qualidade de vida e o progresso profissional de seus colaboradores.</p>
      
      <h3>Nossas Metas</h3>
      <p align="justify">- Busca incessante pela melhoria na qualidade dos produtos e serviços providos pela empresa;</p>
      <p align="justify">- Conhecer a fundo as necessidades e a infra-estrutura de cada cliente;</p>
      <p align="justify">- Monitorar constantemente o cliente a fim de saber se o mesmo está plenamente satisfeito com nossos produtos e serviços;</p>
      <p align="justify">- Procurar corrigir as falhas de atendimento apontadas pelo cliente o mais rápido possível;</p>
      <p align="justify">- Tornar a nossa empresa a maior fornecedora de softwares da região e uma das maiores do país.</p>

      <h3>Nossos Valores</h3>
      <p align="justify">- <strong>Competência:</strong> buscando níveis de conhecimento cada vez maiores;</p>
      <p align="justify">- <strong>Satisfação:</strong> Trabalhando com orgulho e prazer;</p>
      <p align="justify">- <strong>Desempenho:</strong> promovendo resultados que atendam e superem as expectativas de todos;</p>
      <p align="justify">- <strong>Cidadania:</strong> contribuindo para o desenvolvimento auto-sustentável da sociedade;</p>
      <p align="justify">- <strong>Participação e Cooperação:</strong> cultivando um ambiente onde prevaleçam o trabalho em equipe e o respeito às opiniões, favorecendo a criatividade e a iniciativa;</p>
      <p align="justify">- <strong>Disciplina:</strong> cumprindo normas e padrões que garantam a estabilidade dos processos, a segurança do homem e o respeito ao meio ambiente;</p>
      <p align="justify">- <strong>Comprometimento:</strong> cultivando a lealdade e integrando as ações que priorizem os objetivos globais da empresa.</p>

    </div>

    <div class="flash">
      <div class="message notice">
        <p class="big">Este é um trabalho em progresso!</p>
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(partial: 'sidebar') %>