<div class="block">
  <h3>Dica!</h3>
  <div class="content">
    <p align="justify">
      Cadastro de Usuário: Um usuário pode ser um "Técnico", um "Gerente", ou um "Administrador".<br />
      O <b>técnico</b> pode cadastrar (Clientes, Recursos, Serviços, Tarefas e Projetos).<br />
      O <b>gerente</b> faz o mesmo que um técnico e tem acesso aos relatórios.<br />
      O <b>administrador</b> faz o mesmo que o gerente e tem acesso ao cadastro de usuários.
    </p>
  </div>
</div>

<%= render 'pages/sidebar' %>
