<div class="block">
  <h3>Dica!</h3>
  <div class="content">
    <p align="justify">Cadastro de Recursos: Os recursos são utilizados na execução das etapas.<br />Utilize a Pesquisa para encontrar um recurso mais facilmente!</p>
  </div>
</div>

<%= render 'pages/sidebar' %>
