<div class="block">
  <h3>Dica!</h3>
  <div class="content">
    <p align="justify">
      Horas da tarefa: O cadastro de horas representa todas as horas trabalhadas na execução de uma tarefa.<br />
      <b>Atenção:</b> <br />
      - As horas trabalhadas são incluídas para uma determinada etapa.<br />
      - Na inclusão manual, só poderá ser incluído horas trabalhadas para etapas concluídas!
    </p>
  </div>
</div>

<%= render 'pages/sidebar' %>
