<div class="block">
  <h3>Dica!</h3>
  <div class="content">
    <p align="justify">Anexos da Tarefa: Utilize o cadastro de anexos para incluir imagens, textos e planilhas que possam especificar a tarefa e auxiliar na execução da mesma.</p>
  </div>
</div>

<%= render 'pages/sidebar' %>
